ENVIRONMENT=development
DJANGO_SECRET_KEY=change-me
SITE_BASE_URL=http://127.0.0.1:8000

# Notification email settings
NOTIFICATIONS_SEND_EMAILS=1
DEFAULT_FROM_EMAIL=yourgmail@gmail.com
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=yourgmail@gmail.com
EMAIL_HOST_PASSWORD=your_gmail_app_password
